* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-image: url("/src/assets/images/page-background.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px 40px 50px;
}
