.memoji-box-styles {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 20px 0;
  gap: 20px;
  color: white;
}

.memoji-background {
  background-color: rgb(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.memoji-background img {
  height: 190px;
}

.memo-name {
  text-align: center;
}

.memo-name h1 {
  font-size: 30px;
  font-weight: 600;
}

.memo-role {
  background-color: rgb(255, 255, 255, 0.2);
  padding: 10px;
  border: none;
  border-radius: 15px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.memo-role p {
  font-weight: 300;
  font-size: 15px;
}
