.memoji-box-styles{
    background-color: red;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
}

.memoji-background {
    background-color: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
}

.memoji-background img {
    height: 200px;
}