/* Large devices (desktops, 1300px and up) */
@media (min-width: 1300px) {
  .box-style {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    background-color: red;
  }
}

/* Standard desktops (1024px to 1199px) */
@media (min-width: 1000px) and (max-width: 1299px) {
  .box-style {
    background-color: green;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
