.skills-section {
  margin-top: 50px;
  padding: 0 50px 0 50px;
  height: 30%;
  color: white;
  position: relative;
}

.skills-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(2, 62, 138, 0.4),
    rgba(114, 9, 183, 1)
  );
  filter: blur(100px); /* makes it hazy */
  z-index: -1;
}

.skills-title {
  font-size: 23px;
  font-weight: 500;
}

.skills-box {
  margin-top: 20px;
}

.skill-box {
  background-color: red;
  display: flex;
  padding: 23px;
  justify-content:center;
  gap: 15px;
  border: none;
  border-radius: 25px;
}

.icon-background {
  border: 1px solid black;
  border-radius: 50%;
  height: 50px;
  width: 70px;
}
