.testimonial-section {
  margin-top: 50px;
  background-color: green;
  color: white;
  position: relative;
  height: 35vh;
}

.testmony-title {
  font-size: 23px;
  font-weight: 500;
}

.testimonies-box {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
